body{
    width: 1080px;
    height: 1920px;
    background-repeat: no-repeat;
    background-image: url(../img/background/test_background_img.png);
    margin: 0px;
    overflow-y: hidden; 
    overflow-x: hidden;

    }
.button
{
    float:left; 
    position: absolute; 
    top:1649px; 
    left:0px;
}

    #wrapper
{
    width: 1080px;
    margin: 0 auto;
    border: 0px;
    text-align: center;
}
.logo{
    padding-top: 1200px;
    z-index: 1;}

.text{
    padding-top: 50px;
}